@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

#site-wrap{
    height:100vh; 
    display: grid;
    grid-template-columns: 1fr; 
    /* 1fr takes up a fraction whatever space is available */
    grid-gap: 0px;
    grid-template-rows: 100px min-content 1fr ;
    grid-template-areas: 
      " header " 
      " main "
      " footer "
    ;
} 
body {
    font-family: 'Source Sans Pro';
    /* background-color: rgb(74, 92, 194); */
    margin: 0;
    cursor: pointer;
    /* background-color: #ce997c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
.header {
    grid-area: header;
    background-color: white;
    padding: 20px;
    display: flex; /* stacks all items in the leader from left to right (converts a row of items into column by default)*/
    align-items: center; 
    justify-content: space-between; /* forces items to have same distance between them (since there's only 2 items, it pushes one to the left and the other to the right)*/
}
.header .nav, .logo{
    list-style: none; /* removes bullet points */
    padding: 0;
    display: flex; /* forces them to be displayed horizontally */
}
button, input {
    border-color: white;
    background-color: white;
}
ul .logo{
    height: 75px;
}
li h1{
    /* color: rgb(74, 92, 194); */
    /* text-shadow: 2px 2px 0px rgb(24, 231, 204); */
    background: -webkit-linear-gradient(top right, rgb(113, 255, 236), rgb(137, 76, 216), rgb(255, 131, 172));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header .nav li{
    text-decoration: none;
    border: 2px solid plum;
    border-radius: 50em; /* hack to create rounded pill cirlces */
    color: plum; 
    padding: 10px 20px; /* adjusts individual pill */
    margin: 0 16px; /* adjusts spacing between each pill*/
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
.header .nav li:hover{
    background-color: plum;
    color: white
}
.main{
    grid-area: main;
    padding: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239d81ec'/%3E%3Cstop offset='1' stop-color='%239d81ec' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dc83f4'/%3E%3Cstop offset='1' stop-color='%23dc83f4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e85ff3'/%3E%3Cstop offset='1' stop-color='%23e85ff3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aca3f0'/%3E%3Cstop offset='1' stop-color='%23aca3f0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23965fe8'/%3E%3Cstop offset='1' stop-color='%23965fe8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fc60b6'/%3E%3Cstop offset='1' stop-color='%23fc60b6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#home {
    color: white;
    min-height: 100%;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}
.intro{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.intro h1 {
    font-size: 150px;
    text-transform: uppercase;
    line-height: 0px;
    /* text-shadow: 5px 5px 0px rgb(24, 231, 204); */
    text-shadow: 5px 5px 5px rgb(99, 99, 99);

}
.intro h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-variant: small-caps;
    line-height: 30px;
    text-shadow: 3px 3px 5px darkmagenta;

}
.intro p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* text-shadow: 0px 3px 2px darkslateblue; */
    background: rgba(211, 82, 125, 0.5); /* Black background with 0.5 opacity */
}
hr {
    background-color: white;
    /* background: linear-gradient(to right,  white, rgb(255, 5, 255), white); */
    color: white;
    height: 3px;
    border-color: none;
}
.intro button {
    width: 120px;
}
.intro-container {
    position: relative;
    text-align: center;
    color: white;
  }
.intro-container img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.footer{
    grid-area: footer;
    color: white;
}
div #button-options {
    display: flex;
    justify-content: space-evenly;
}
div #button-options > div {
    margin: 20px; 
}
div #card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn-option {
    /* border: 2px solid white;
    background-color: plum; */
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3 51%, #A770EF 100%);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn-option:hover{
    background-position: right center;
    background-color: #CF8BF3;
    background-image: none;
    /* border: 2px solid  rosybrown; */
}
#form-container{
    display: flex;
    justify-content: center;
}
.form-options{
    margin: 10px;
    color: white;
    text-align: center;
}
input.full{
    height:30px; 
    width: 330px;
    font-size: 16px;
    border-radius: 25px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 15px;
}
div .im-container {
    display: block; 
}
div .im-field{
    display: flex;
    justify-content: center;
}
.im-field > input {
    height:30px; 
    width: 125px;
    font-size: 16px;
    border-radius: 25px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 15px;
}
.half-btn {
    color: white;
    height:30px; 
    width: 100px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    margin: 5px;
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3 51%, #A770EF 100%);
    font-weight: bolder;
}
.circle-btn {
    color: white;
    height:30px; 
    width: 30px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    margin: 5px;
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3 51%, #A770EF 100%);
    font-weight: bolder;
}
#find-form .fa {
    font-size: 20px;
}
.switch-field {
    margin: 5px;
    display: flex;
    overflow: hidden;
    background-color: white;
    height:30px; 
    width: 356px;
    border-radius: 25px;
    margin: 5px;
    padding-left: 00px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 0px;
}
.switch-field p {
    color: dimgrey;
    font-size: 16px;
    width: 159px;
    text-align: left;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: white;
    color: #a9a9a9;
    font-size: 16px;
    text-align: center;
    height:26px; 
    width: 135px;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
}
.switch-field input:checked + label {
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3 51%, #A770EF 100%);
    color: white;
    font-weight: bold;
}
table {
    display: inline-table;
    width: 100%;
}
th, td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid white;
}
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-size: 25px;
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
    font-size: 25px;
} 
.scene {
    width: 355px;
    height: 450px;
    /* border: 1px solid #CCC; */
    margin: 40px 40px;
    perspective: 600px;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    border-radius: 15px;
} 
.card__face--front {
    background: white;
    color: rgb(74, 92, 194);
}
.card__face--back {
    background: rgb(74, 92, 194);
    color: white;
    transform: rotateY(180deg);
} 
.card-image {
    max-width:300px;
    max-height:200px;
    object-fit: contain;
}
